# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# FastAPI Cloud
.fastapicloud/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / Distribution
build/
dist/
*.egg-info/

# Python Cache & Testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db
*.sqlite3
